<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://code.alibabatech.com/schema/dubbo  
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd  
        ">       
    <dubbo:application name="shopping-server" />      
    <dubbo:registry  protocol="zookeeper"  address="127.0.0.1:2181,127.0.0.1:2182,127.0.0.1:2183" />         <!-- 生成远程服务代理，可以和本地bean一样使用 -->  
    <dubbo:protocol name="dubbo" port="${dubbo.local.url.port}" serialization="kryo" />
    <dubbo:reference id="productLevelMsService" interface="com.server.rpc.ProductLevelMsService" />
    <dubbo:reference id="sproductService" interface="com.server.rpc.SProductMsService" />
    <dubbo:reference id="userMsService" interface="com.server.rpc.UserMsService" />
</beans> 